
<div ng-controller="FacturacionController">

    <style>
        .ciudadDiferente {
            background-color: lightgreen;
        }

        .border-none {
            border: none !important;
            background-color: #fafafa;
        }

            .border-none td, .border-none th {
                border: none !important;
                background-color: #fafafa;
            }

        .table > thead > tr > th {
            padding: 1px 15px;
            margin: 0px;
            height: 10px;
        }

        .radio, .checkbox {
            margin-bottom: 5px;
            margin-top: 5px;
        }

        .table > tr > td {
            padding: 5px 5px;
        }

        .input-xs {
            width: 150px !important;
        }

        @media screen and (max-width: 767px) {
            .table > thead > tr > th {
                padding: 1px 5px;
                margin: 0;
                height: 10px;
            }

            .col-xs-3, .col-xs-4, .col-xs-8, .col-xs-1 {
                padding-left: 5px;
                padding-right: 0;
            }
        }
    </style>
    <div class="panel panel-default">
        <div class="panel-heading form-inline ">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 text-center-xs">
                    <div class="form-inline">
                        <form name="formConsulta" class="form-inline" ng-submit="formConsulta.$valid && ObtenerServicios()">
                            <div class="form-group">
                                <label for="TxtFechaInicial">Fecha inicial</label>
                                <input tabindex="5" ng-model="fechaInicial" required ui-mask="99/99/9999" model-view-value="true" type="text" class="form-control input-sm" name="TxtFechaInicial" placeholder="dd/MM/yyyy">
                            </div>
                            <div class="form-group">
                                <label for="TxtFechaFinal">Fecha final</label>
                                <input tabindex="10" ng-model="fechaFinal" required ui-mask="99/99/9999" model-view-value="true" type="text" class="form-control input-sm" name="TxtFechaFinal" placeholder="dd/MM/yyyy">
                            </div>
                            <button type="submit" class="btn btn-info btn-sm">Consultar</button>
                        </form>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 text-center-xs text-right">
                    <div class="form-inline">
                        <div class="col-xs-4 col-sm-4">
                            <div class="form-group">
                                <input placeholder="Filtar todo..." class="form-control input-sm" type="search"
                                       ng-model="search.$" />
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4">
                            <div class="form-group">
                                <input ng-model="search.ConductorResumen" class="form-control input-sm" placeholder="Filtrar conductores" type="search" />
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4">
                            <div class="form-group">
                                <input ng-model="search.RutaResumen" class="form-control input-sm" placeholder="Filtar rutas" type="search" />
                            </div>
                        </div>
                    </div>
                    </div>
            </div>
        </div>

        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th class="col-md-1">Hora/fecha</th>
                            <th class="hidden-xs">Consec.</th>
                            <th>Origen/Destino</th>
                            <th>Conductor/Ruta</th>
                            <th>Factura</th>
                        </tr>
                    </thead>
                    <tbody class="text-xs" ng-repeat="servicio in serviciosActivos  = (servicios | filter: search) " ng-class=" { 'border-none' : active==servicio}">
                        <tr>
                            <td class="text-center">
                                {{servicio.Fecha | date:'HH:mm'}}
                                <br />
                                {{servicio.Fecha | date:'dd/MM/yyyy'}}
                            </td>
                            <td class="hidden-xs">
                                {{servicio.Radicado}}
                                <br />
                                {{servicio.Aseguradora.Nombre}}

                            </td>
                            <td>
                                <div>
                                    <strong>Origen: </strong> {{servicio.DireccionInicio.Descripcion}}, {{servicio.DireccionInicio.Ciudad.Nombre}}, {{servicio.DireccionInicio.Barrio}}
                                </div>
                                <div>
                                    <strong>Destino: </strong> {{servicio.DireccionDestino.Descripcion}}, {{servicio.DireccionDestino.Ciudad.Nombre}}, {{servicio.DireccionDestino.Barrio}}
                                </div>
                            </td>
                            <td>
                                <strong>Conductor: </strong> {{servicio.ConductorResumen}}<br />
                                <strong>Ruta:</strong> {{servicio.RutaResumen}}
                            </td>
                            <td>
                                <form name="form" class="form-inline" novalidate ng-submit="form.$valid && Guardar(servicio)">
                                    <div class="form-group" ng-class="{ 'has-error' : form.txtFactura.$invalid  && !form.txtFactura.$pristine}" >
                                        <input type="text" required name="txtFactura" class="form-control input-sm input-xs" placeholder="Nro factura" ng-model="servicio.NoFactura" />
                                    </div>
                                    <button class="btn btn-info btn-sm"  type="submit">Facturar</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
