<div class="modal-body wrapper-lg ">
    <a class="close" data-dismiss="modal" ng-click="cancel()">×</a>
    <h3 class="m-t-none m-b font-thin">Resumen</h3>
    <div class="row">
        <div class="col-sm-6">
            <strong>Tipo servicio: </strong> <span> {{servicio.TipoServicio.Descripcion}}</span>
            <br />
            <strong>Id: </strong> <span> {{servicio.Id}}</span>
        </div>
        <div class="col-sm-6">
            <strong>Fecha y Hora: </strong><span> {{servicio.Fecha | date:'HH:mm'}} {{servicio.Fecha | date:'dd/MM/yyyy'}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <strong>Consecutivo: </strong><span> {{servicio.Radicado}}</span>
        </div>
        <div class="col-sm-6">
            <strong>Aseguradora: </strong><span> {{servicio.Aseguradora.Nombre }}</span>
            <strong>Asignado por: </strong><span> {{servicio.AsignadoPor}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <strong>Asegurado: </strong><span> {{servicio.Asegurado.Nombre}} <strong>Tel:</strong> {{servicio.Asegurado.Telefono1}} - {{servicio.Asegurado.Telefono2}}</span>
        </div>
        <div class="col-sm-6">
            <strong>Vehiculo: </strong><span> {{servicio.Vehiculo.Placa}} - {{servicio.Vehiculo.Descripcion}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <strong>Dirección inicio: </strong><span> {{servicio.DireccionInicio.Descripcion}}, {{servicio.DireccionInicio.Ciudad.Nombre}}, {{servicio.DireccionInicio.Barrio}}</span>
        </div>
        <div class="col-sm-6">
            <strong>Dirección destino: </strong><span> {{servicio.DireccionDestino.Descripcion}}, {{servicio.DireccionDestino.Ciudad.Nombre}}, {{servicio.DireccionDestino.Barrio}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <strong>Conductor: </strong> {{servicio.ConductorResumen}}
        </div>
        <div class="col-sm-6">
            <strong>Ruta: </strong> {{servicio.RutaResumen}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <strong>Estado: </strong> {{servicio.Estado.Descripcion}}
        </div>
        <div class="col-sm-6">
            <strong>Registro: </strong> {{servicio.UsuarioRegistro.Nombre}} - <span> {{servicio.FechaRegistro | date:'HH:mm'}} {{servicio.FechaRegistro | date:'dd/MM/yyyy'}}</span>
            <br />
            <strong>Ultima modificación: </strong> {{servicio.UsuarioModificacion.Nombre}} <span> {{servicio.FechaModificacion | date:'HH:mm'}} - {{servicio.FechaModificacion | date:'dd/MM/yyyy'}}</span>
        </div>
    </div>
    <h4 class="m-t-none m-b font-thin">Seguimiento</h4>
    <table class="table">
        <tr>
            <th>Fecha</th>
            <th>Nuevo estado</th>
            <th>Observación</th>
            <th>Usuario</th>
        </tr>
        <tr ng-repeat="seguimiento in servicio.Seguimientos">
            <td>{{seguimiento.Fecha | date:'HH:mm dd/MM/yyyy '}}</td>
            <td>{{seguimiento.NuevoEstado }} </td>
            <td>{{seguimiento.Observacion }} </td>
            <td>{{seguimiento.UsuarioRegistro.Nombre }} </td>
        </tr>
    </table>
    <h4 class="m-t-none m-b font-thin">Administración valores</h4>
    <table class="table">
        <tr>
            <th>Concepto</th>
            <th>Valor</th>
            <th>Documento</th>
            <th>Estado</th>

        </tr>
        <tr ng-repeat="movimiento in servicio.Movimientos">
            <td>{{movimiento.Concepto.Descripcion}}</td>
            <td>{{movimiento.Valor | currency:"$":0 }} </td>
            <td>{{movimiento.Documento.Tipo }} {{movimiento.Documento.Numero }}  </td>
            <td></td>
        </tr>
    </table>
</div>
<div class="modal-footer">
    <input type="button" class="btn btn-danger pull-right" name="EditarServicio" value="Editar" ng-click="Editar(servicio)" />
</div>
