<div ng-controller="NuevoServicioController">
    <div class="wrapper-xs">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form class="form" name="form" novalidate ng-submit="form.$valid && Guardar(servicio);">
                            <fieldset>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group" ng-class="{ 'has-error' : form.SelTipo.$invalid  && !form.SelTipo.$pristine}">
                                            <label for="SelTipo">Tipo servicio</label>
                                            <select tabindex="0" ng-model="servicio.TipoServicio" class="form-control" name="SelTipo" 
                                                    required ng-options="tipoServicio.Descripcion for tipoServicio in tiposServicio track by tipoServicio.Id"></select>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <conductor-elegido ng-if="servicio.TipoServicio.Id == 1 || servicio.TipoServicio.Id == 6"></conductor-elegido>
                            <coordinacion ng-if="servicio.TipoServicio.Id == 2"></coordinacion>
                            <valet ng-if="servicio.TipoServicio.Id == 3"></valet>
                            <mensajeria ng-if="servicio.TipoServicio.Id == 4"></mensajeria>
                            <ejecutivo ng-if="servicio.TipoServicio.Id == 5"></ejecutivo>

                            <fieldset>
                                <input tabindex="30" ng-disabled="form.$invalid || isSaving" type="submit" class="btn btn-info" name="BtnNuevoServicio" value="Guardar servicio" />
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>