
<div ng-controller="consultaServiciosController">


    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">Gestión</h1>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading form-inline">
                    <label for="Filtrar">Filtrar</label>
                    <input type="text" placeholder="Buscar..." ng-model="search" class="form-control">
                </div>
                <div class="panel-body">
                    <div class="panel panel-default">
                        <div class="table-responsive">
                            <table class="table text-sm">
                                <thead>
                                    <tr>
                                        <th>
                                            Fecha y Hora
                                        </th>
                                        <th>
                                            Estado
                                        </th>
                                        <th>
                                            Radicado
                                        </th>
                                        <th>
                                            Aseguradora
                                        </th>
                                        <th>
                                            Vehiculo
                                        </th>
                                        <th>
                                            Asegurado
                                        </th>
                                        <th>
                                            Ruta
                                        </th>
                                        <th>
                                            Conductor
                                        </th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="svr in servicios | filter:search">
                                    <tr>
                                        <td>
                                            {{svr.Fecha | date:'HH:mm'}} <br />
                                            {{svr.Fecha | date:'dd/MM/yyyy'}}
                                        </td>
                                        <td>
                                            {{svr.Estado.Descripcion }}
                                        </td>
                                        <td>
                                            {{svr.Radicado }}
                                        </td>
                                        <td>
                                            {{svr.Aseguradora.Nombre }}
                                        </td>
                                        <td>
                                            {{svr.Vehiculo.Placa }} <br /> {{svr.Vehiculo.Marca }} {{svr.Vehiculo.Referencia }}
                                        </td>
                                        <td>
                                            {{svr.Asegurado.Nombre }} <br /> {{ svr.Asegurado.Telefono1 }} - {{ svr.Asegurado.Telefono2 }}
                                        </td>
                                        <td>
                                            - {{svr.DireccionInicio.Descripcion}}, {{svr.DireccionInicio.Ciudad.Nombre}}, {{svr.DireccionInicio.Barrio}} <br />
                                            - {{svr.DireccionDestino.Descripcion}}, {{svr.DireccionDestino.Ciudad.Nombre}}, {{svr.DireccionDestino.Barrio}}
                                        </td>
                                        <td>
                                            {{svr.Conductor.Nombre }}
                                        </td>
                                        <td>
                                            <input type="button" ng-click="Editar(svr);" value="Editar" class="btn btn-sm btn-info" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
