<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Gestión</h1>
</div>
<div class="wrapper-md" ng-controller="ServiciosResumenController">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <!--<div class="panel-heading font-bold">Nuevo servicio</div>-->
                <div class="panel-body">
                    <div class="panel panel-default">
                        <div class="table-responsive">
                            <table ui-jq="dataTable" ui-options="{
                                        aaData: servicios,

                                        aoColumns: [
                                                    { mData: 'Fecha' },
                                                    { mData: 'Estado.Descripcion' },
                                                    { mData: 'Radicado' },
                                                    { mData: 'Aseguradora.Nombre' },
                                                    { mData: 'Vehiculo.Placa' },
                                                    { mData: 'Asegurado.Nombre' },
                                                    { mData: 'Conductor.Nombre' }
                                                  ]
                                 
                                }" class="table table-striped b-t b-b" >
                                <thead>
                                    <tr>
                                        <th>
                                            Fecha y Hora
                                        </th>
                                        <th>
                                            Estado
                                        </th>
                                        <th>
                                            Radicado
                                        </th>
                                        <th>
                                            Aseguradora
                                        </th>
                                        <th>
                                            Vehiculo
                                        </th>
                                        <th>
                                            Asegurado
                                        </th>
                                        <th>
                                            Conductor
                                        </th>
                                    </tr>
                                </thead>
                                <!--<tbody ng-repeat="svr in servicios">
                <tr>
                    <td>
                        {{svr.Fecha | date:'dd/MM/yyyy'}} - {{svr.Fecha | date:'HH:mm'}}
                    </td>
                    <td>
                        {{svr.Estado.Descripcion }}
                    </td>
                    <td>
                        {{svr.Radicado }}
                    </td>
                    <td>
                        {{svr.Aseguradora.Nombre }}
                    </td>
                    <td>
                        {{svr.Vehiculo.Placa }} <spa>-</spa>{{svr.Vehiculo.Marca }}
                    </td>
                    <td>
                        {{svr.Asegurado.Nombre }}
                    </td>

                    <td>
                        {{svr.Conductor.Nombre }}
                    </td>
                    <td>
                        <input type="button" ng-click="Editar(svr);" value="Editar" />
                    </td>
                </tr>
            </tbody>-->
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
