
<div ng-controller="SeguimientoController">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">Seguimiento</h1>
    </div>

    <div class="hbox hbox-auto-xs hbox-auto-sm  panel panel-default m-t-md m-b-n-sm pos-rlt">
        <div class="col col-md-8">
            <div class="table-responsive">
                    <table class="table table-striped b-t b-light">
                        <thead>
                            <tr>
                                <th>
                                    Fecha y hora
                                </th>
                                <th>
                                    Estado
                                </th>
                                <th>
                                    Radicado
                                </th>
                                <th>
                                    Aseguradora
                                </th>
                                <th>
                                    Conductor
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="servicio in servicios" ng-click="Seguimientos(servicio)">
                                <td>
                                    <strong>{{servicio.Fecha | date:'HH:mm'}}</strong> -
                                    {{servicio.Fecha | date:'yyyy/MM/dd'}}
                                </td>
                                <td>
                                    {{servicio.Estado.Descripcion}}
                                </td>
                                <td>
                                    {{servicio.Radicado}}
                                </td>
                                <td>
                                    {{servicio.Aseguradora.Nombre}}
                                </td>
                                <td>
                                    {{servicio.Conductor.Nombre}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>
        <div class="col col-md-4 bg-light dk b-r bg-auto">
            <div >
                <ul class="list-group list-group-lg no-radius m-b-none m-t-n-xxs">
                    <li ng-repeat="seguimiento in servicio.Seguimientos" class="list-group-item clearfix b-l-3x">
                        <a ui-sref="app.page.profile" class="avatar thumb pull-left m-r">
                            <img ng-src="app/img/no_user.jpg" src="app/img/no_user.jpg">
                        </a>
                        <div class="pull-right text-sm text-muted">
                            <span class="hidden-xs">{{ seguimiento.Fecha | date:'HH:mm yyyy/MM/dd' }}</span>
                        </div>
                        <div class="clear">
                            <div>
                                <strong><a ui-sref="app.mail.detail({mailId:mail.id})" class="text-md">{{seguimiento.Usuario.Nombre}}</a></strong>
                            </div>
                            <div class="text-ellipsis m-t-xs">{{seguimiento.Observacion}}</div>
                        </div>
                    </li>
                    <li >
                        <div class="panel panel-default m-t-md m-b-n-sm pos-rlt">
                            <form class="ng-pristine ng-valid" ng-submit="GuardarSeguimiento(seguimiento)">
                                <textarea ng-model="seguimiento.Observacion" class="form-control no-border" rows="2"  placeholder="Ingrese su observación"></textarea>
                                <div class="panel-footer bg-light lter clearfix">
                                    <button class="btn btn-info pull-right btn-sm" type="submit" >Guardar</button>
                                    <div class="form-inline">
                                        <select class="form-control">
                                            <option value="value">En sitio</option>
                                            <option value="value">En camino</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>
