
<div ng-controller="seguimientoController">
    <div class="bg-light lter b-b wrapper-sm">
      <h1 class="m-n font-thin h3">Seguimiénto</h1>
    </div>
    <div class="row-fluid bg-light lter b-b wrapper-xs">
        <div class="inline">
            <label class="checkbox i-checks m-l-xs m-b-xs">
                <input type="checkbox" ng-model="seleccion" ng-change="Seleccionar(seleccion)" aria-checked="false" aria-invalid="false"><i></i>
                Seleccionar Todos
            </label>
        </div>
        <div class="inline  wrapper-xs">
            <input type="button" class="btn btn-default" name="EnviarCorreo" value="Enviar correo" ng-click="EnviarCorreo()" />
        </div>
    </div>

    <script type="text/ng-template" id="detalleServicio.html" >
        <div class="modal-body wrapper-lg " >
            <h3 class="m-t-none m-b font-thin">Detalle del servicio: {{servicio.Id}}</h3>
                <ul>
                    <li><strong>Id: </strong> <span> {{servicio.Id}}</span></li>
                    <li> <strong>Fecha y Hora: </strong><span> {{servicio.Fecha | date:'HH:mm'}} - {{servicio.Fecha | date:'dd/MM/yyyy'}}</span></li>
                    <li><strong>Aseguradora: </strong><span> {{servicio.Aseguradora.Nombre }}</span> &nbsp;&nbsp;&nbsp; <strong>Consecutivo: </strong><span> {{servicio.Radicado}}</span></li>
                    <br />
                    <li><strong>Asegurado: </strong><span> {{servicio.Asegurado.Nombre}} <strong>Tel:</strong> {{servicio.Asegurado.Telefono1}} - {{servicio.Asegurado.Telefono2}}</span></li>
                    <li><strong>Vehiculo: </strong><span> {{servicio.Vehiculo.Placa}} - {{servicio.Vehiculo.Marca}} - {{servicio.Vehiculo.Referencia}} - {{servicio.Vehiculo.Marca}} - {{servicio.Vehiculo.Observaciones}}</span></li>
                    <br>
                    <li><strong>Dirección inicio: </strong><span> {{servicio.DireccionInicio.Descripcion}}, {{servicio.DireccionInicio.Ciudad.Nombre}}, {{servicio.DireccionInicio.Barrio}}</span></li>
                    <li><strong>Dirección destino: </strong><span> {{servicio.DireccionDestino.Descripcion}}, {{servicio.DireccionDestino.Ciudad.Nombre}}, {{servicio.DireccionDestino.Barrio}}</span></li>
                </ul>
                <input type="button" class="btn btn-danger pull-right" name="EditarServicio" value="Editar" ng-click="Editar(servicio)" />
        </div>
    </script>


    <div class="wrapper-xs">
        <div class="row">
            <div class="col-sm-12">
                <div>
                    <div class="col-sm-8">
                        <div class="panel panel-default">
                            <div>
                                <table st-table="serviciosVisibles" st-safe-src="servicios" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <td colspan="6">
                                                <div class="row wrapper-xs">
                                                    <div class="col-sm-1 text-left">
                                                    </div>
                                                    <div class="col-sm-1 text-right">
                                                        <strong>Filtros</strong>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <input st-search placeholder="Buscar..." class="input-sm form-control" type="search" />
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th st-sort="Id">Id</th>
                                            <th st-sort="Fecha">Fecha hora</th>
                                            <th st-sort="Estado.Descripcion" class="col-md-1">Estado</th>
                                            <th st-sort="Aseguradora.Nombre">Consecutivo</th>
                                            <th>Ruta</th>
                                            <th st-sort="Conductor.Nombre">Conductor</th>
                                            <th class="col-md-1">
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-xs">
                                        <tr  st-select-row="servicio" st-select-mode="multiple" ng-repeat="servicio in serviciosVisibles | orderBy:'-Fecha'" ng-click="Seguimientos(servicio)">
                                            <td class="text-center" ng-click="MostrarDetalles(servicio)">
                                                <a  class="btn-link blue-300 fa-underline">
                                                    <u> {{servicio.Id}}</u>
</a>
                                            </td>
                                            <td class="text-center">
                                                {{servicio.Fecha | date:'HH:mm'}} 
                                                <br />
                                                {{servicio.Fecha | date:'dd/MM/yyyy'}}
                                            </td>
                                            <td>
                                                {{servicio.Estado.Descripcion}}
                                            </td>
                                            <td>
                                                {{servicio.Aseguradora.Nombre}} <br />
                                                {{servicio.Radicado}}
                                            </td>
                                            <td>
                                                - {{servicio.DireccionInicio.Descripcion}}, {{servicio.DireccionInicio.Ciudad.Nombre}}, {{servicio.DireccionInicio.Barrio}} <br />
                                                - {{servicio.DireccionDestino.Descripcion}}, {{servicio.DireccionDestino.Ciudad.Nombre}}, {{servicio.DireccionDestino.Barrio}}
                                            </td>
                                            <td>
                                                {{servicio.Conductor.Nombre}} <br />
                                                Tel1: <strong>{{servicio.Conductor.Telefono1}}</strong> <strong>{{servicio.Conductor.Telefono2}}</strong>
                                            </td>
                                            <td>
                                                <b class="badge bg-info pull-right">{{servicio.Seguimientos.length}}</b>
                                                <label class="i-checks m-b-none">
                                                    <input type="checkbox"  name="Seleccion" ng-model="servicio.Seleccionado" />
                                                </label>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <!--<td colspan="5" class="text-center">-->
                                            <td class="text-center no-margin" st-pagination="" st-items-by-page="10" colspan="6" >
                                                <!--<div st-pagination="" st-items-by-page="4" st-displayed-pages="7" class="no-margin"></div>-->
                                            </td>
                                        </tr>
                                   </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4" ng-show="servicio.Id">
                        <div class="panel panel-default m-t-xs m-b-n-xs pos-rlt">
                            <form class="ng-pristine ng-valid" ng-submit="GuardarSeguimiento(nuevoSeguimiento)">
                                <div class="panel-body  wrapper-sm">
                                    <textarea ng-model="nuevoSeguimiento.Observacion" class="form-control" rows="1" placeholder="Ingrese su observación"></textarea>
                                </div>
                                <div class="panel-footer bg-light lter clearfix">
                                    <button ng-disabled="isSaving" class="btn btn-info pull-right btn-sm" type="submit">Guardar</button>
                                    <div class="form-inline">
                                        <select ng-model="servicio.EstadoCodigo" required ng-options="estado.Codigo as estado.Descripcion for estado in estados" class="form-control form-control-xs">
                                            <option value="">Seleccione estado</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <br />
                        <ul class="list-group list-group-xs no-radius m-b-none m-t-n-xxs ">
                            <li ng-repeat="seguimiento in servicio.Seguimientos | orderBy:'-Fecha'" class="list-group-item clearfix b-l-3x ">
                                <a ui-sref="app.page.profile" class="avatar thumb pull-left s-r">
                                    <img ng-src="app/img/no_user.jpg" src="app/img/no_user.jpg">
                                </a>
                                <div class="pull-right text-sm text-muted">
                                    <span class="hidden-xs">{{ seguimiento.Fecha | date:'HH:mm yyyy/MM/dd' }}</span>
                                </div>
                                <div class="clear">
                                    <div>
                                        <strong class="text-xs">{{seguimiento.UsuarioRegistro.Nombre}}</strong>
                                    </div>
                                    <div class="text-xs text-ellipsis m-t-xs">{{seguimiento.Observacion}}</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
