<div ng-controller="NuevoServicioController">
    <style type="text/css" media="screen">
        .resaltado {
            background-color: #FFAB91;
            -webkit-transition: background-color 1s;
            transition: background-color 1s;
        }
    </style>
    <div class="wrapper-xs">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form class="form" name="form" novalidate ng-submit="form.$valid && Guardar(servicio);">
                            <fieldset>
                                <!--<legend>Datos servicio</legend>-->
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="form-group" ng-class="{ 'has-error' : form.TxtHora.$invalid  && !form.TxtHora.$pristine}">
                                            <label for="TxtHora">Hora*</label>
                                            <input tabindex="1"
                                                   ng-model="servicio.Hora"
                                                   ui-mask="99:99"
                                                   model-view-value="true"
                                                   required
                                                   ng-blur="ObtenerFechaSiguienteDia(servicio.Hora)"
                                                   type="text" class="form-control" id="TxtHora" name="TxtHora" placeholder="HH:mm">
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group" ng-class="{ 'has-error' : form.TxtFecha.$invalid  && !form.TxtFecha.$pristine}">
                                            <label for="TxtFecha">Fecha*</label>
                                            <input tabindex="2"
                                                   ng-model="servicio.FechaD"
                                                   required
                                                   ui-mask="99/99/9999" model-view-value="true"
                                                   ng-class="{ 'resaltado' : CambioFecha } "
                                                   type="text" class="form-control" name="TxtFecha" placeholder="dd/MM/yyyy">
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label for="TxtRadicado">Consecutivo</label>
                                            <input tabindex="3" ng-model="servicio.Radicado" type="text" class="form-control" id="TxtRadicado">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group" ng-class="{ 'has-error' : form.SelAseguradora.$invalid  && !form.SelAseguradora.$pristine}">
                                            <label for="SelAseguradora">Aseguradora*</label>
                                            <!--<select ng-init="servicio.AseguradoraId = servicio.AseguradoraId || '-1'" ng-model="servicio.AseguradoraId" class="form-control" id="SelAseguradora">-->
                                            <select tabindex="4"
                                                    ng-model="servicio.Aseguradora"
                                                    class="form-control"
                                                    id="SelAseguradora"
                                                    name="SelAseguradora"
                                                    required
                                                    ng-options="aseguradora.Nombre for aseguradora in aseguradoras track by aseguradora.Id">
                                                <option value="">-- seleccione --</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="TxtAsignadoPor">Asignado por</label>
                                            <input tabindex="5" ng-model="servicio.AsignadoPor" type="text" class="form-control" id="TxtAsignadoPor">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>Asegurado</legend>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group" ng-class="{ 'has-error' : form.TxtNombreAsegurado.$invalid  && !form.TxtNombreAsegurado.$pristine}">
                                            <label for="TxtNombreAsegurado">Nombre*</label>
                                            <input tabindex="6" ng-model="servicio.Asegurado.Nombre" required type="text" class="form-control" id="TxtNombreAsegurado" name="TxtNombreAsegurado">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group" ng-class="{ 'has-error' : form.TxtTelefono1.$invalid  && !form.TxtTelefono1.$pristine}">
                                            <label for="TxtTelefono1">Teléfono 1</label>
                                            <input tabindex="7" ng-model="servicio.Asegurado.Telefono1"
                                                   ui-mask="(999) 999-9999"
                                                   type="tel" class="form-control" id="TxtTelefono1" name="TxtTelefono1">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="TxtTelefono2">Teléfono 2</label>
                                            <input tabindex="8" ng-model="servicio.Asegurado.Telefono2"
                                                   ui-mask="(999) 999-9999"
                                                   type="tel" class="form-control" id="TxtTelefono2" name="TxtTelefono2">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>Vehiculo</legend>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="form-group" ng-class="{ 'has-error' : form.TxtPlaca.$invalid  && !form.TxtPlaca.$pristine}">
                                            <label for="TxtPlaca">Placa*</label>
                                            <input tabindex="10" ng-model="servicio.Vehiculo.Placa"
                                                   ng-minlength="3"
                                                   ng-maxlength="6"
                                                   required
                                                   title="Ingrese la placa del vehículo sin espacios"
                                                   type="text" class="form-control" id="TxtPlaca" name="TxtPlaca" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-sm-10">
                                        <div class="form-group">
                                            <label for="TxtDescripcion">Descripción</label>
                                            <input tabindex="11" ng-model="servicio.Vehiculo.Descripcion" type="text" class="form-control" id="TxtDescripcion" placeholder="Marca, referencia, color, etc.">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>Ruta</legend>
                                <h4>Inicio</h4>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group" ng-class="{ 'has-error' : form.TxtDireccionInicio.$invalid  && !form.TxtDireccionInicio.$pristine}">
                                            <label for="TxtDireccionInicio">Dirección*</label>
                                            <input tabindex="16" ng-model="servicio.DireccionInicio.Descripcion" required type="text" class="form-control" name="TxtDireccionInicio" placeholder="CR xx # xx - xx">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group" ng-class="{ 'has-error' : form.SelCiudadInicio.$invalid  && !form.SelCiudadInicio.$pristine}">
                                            <label for="SelCiudadInicio">Ciudad*</label>
                                            <select tabindex="17"
                                                    ng-model="servicio.DireccionInicio.Ciudad"
                                                    required
                                                    ng-options=" ciudad.Nombre for ciudad in ciudades track by ciudad.Id"
                                                    class="form-control" id="SelCiudadInicio" name="SelCiudadInicio">
                                                <option value="">-- seleccione --</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="TxtBarrio">Barrio</label>
                                            <input tabindex="18" ng-model="servicio.DireccionInicio.Barrio" type="text" id="TxtBarrio" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <h4>Destino</h4>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group" ng-class="{ 'has-error' : form.TxtDireccionDestino.$invalid  && !form.TxtDireccionDestino.$pristine}">
                                            <label for="TxtDireccionDestino">Dirección*</label>
                                            <input tabindex="19" ng-model="servicio.DireccionDestino.Descripcion" required type="text" class="form-control" name="TxtDireccionDestino"  placeholder="CR xx # xx - xx">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group" ng-class="{ 'has-error' : form.SelCiudadDestino.$invalid  && !form.SelCiudadDestino.$pristine}">
                                            <label for="SelCiudadDestino">Ciudad*</label>
                                            <select tabindex="20"
                                                    ng-model="servicio.DireccionDestino.Ciudad"
                                                    required
                                                    ng-options=" ciudad.Nombre for ciudad in ciudades track by ciudad.Id"
                                                    class="form-control" id="SelCiudadDestino" name="SelCiudadDestino">
                                                <option value="">-- seleccione --</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="TxtBarrioDestino">Barrio</label>
                                            <input tabindex="21" ng-model="servicio.DireccionDestino.Barrio" type="text" class="form-control" id="TxtBarrioDestino">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <hr />
                            <fieldset>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <label for="SelConductores">Conductor</label>
                                            <ui-select tabindex="24" ng-model="servicio.Conductor" theme="bootstrap" reset-search-input="false">
                                                <ui-select-match placeholder="Conductor">{{$select.selected.Nombre}}</ui-select-match>
                                                <ui-select-choices repeat="item in conductores" refresh="ObtenerConductores($select.search)" refresh-delay="0">
                                                    <div ng-bind-html="item.Nombre | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <label for="SelRuta">Ruta</label>
                                            <ui-select tabindex="25" ng-model="servicio.Ruta" theme="bootstrap" reset-search-input="false">
                                                <ui-select-match placeholder="Conductor de ruta">{{$select.selected.Nombre}}</ui-select-match>
                                                <ui-select-choices repeat="item in conductores" refresh="ObtenerConductores($select.search)" refresh-delay="0">
                                                    <div ng-bind-html="item.Nombre | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <input tabindex="30" ng-disabled="form.$invalid || isSaving" type="submit" class="btn btn-info" name="BtnNuevoServicio" value="Guardar servicio" />
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>