
<div ng-controller="SeguimientoController">
    <style>
        .border-none {
            border: none !important;
            background-color: #fafafa;
        }

            .border-none td, .border-none th {
                border: none !important;
                background-color: #fafafa;
            }

        .table > thead > tr > th {
            padding: 1px 15px;
            margin: 0px;
            height: 10px;
        }
        /*.i-checks {
            padding-left: 0px;
        }*/
        .radio, .checkbox {
            margin-bottom: 5px;
            margin-top: 5px;
        }

        .fixedHeader {
            position: fixed;
            z-index: 200;
            left: 0;
            -webkit-box-shadow: -3px 13px 21px -19px rgba(0,0,0,0.75);
            -moz-box-shadow: -3px 13px 21px -19px rgba(0,0,0,0.75);
            box-shadow: -3px 13px 21px -19px rgba(0,0,0,0.75);
        }

        .table > tr > td {
            padding: 5px 5px;
        }

        .staticBody {
            margin-top: 45px;
        }

        .btnHerramientas {
            display: none;
            font-size: large;
        }

        .panel-heading {
            padding: 5px 15px 0 15px;
        }


        @media screen and (max-width: 767px) {
            .staticBody {
                margin-top: 45px;
            }

            .fixedHeader {
                left: 0;
            }

            .mostrarHerramientas {
            }

            .table > thead > tr > th {
                padding: 1px 5px;
                margin: 0;
                height: 10px;
            }

            .col-xs-3, .col-xs-4, .col-xs-8, .col-xs-1 {
                padding-left: 5px;
                padding-right: 0;
            }

            .form-group {
                margin-bottom: 0;
            }
        }
    </style>
    <div class="panel panel-default">
        <div class="fixedHeader navbar-collapse  panel-heading form-inline ">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-3 text-center-xs">
                    <form class="form-inline inline" ng-submit="ObtenerServicios()">
                        <div class="form-group">
                            <div class="input-group">
                                <input tabindex="1" ng-model="periodo" required type="search" class="form-control input-sm" id="TxtPeriodo" name="TxtPeriodo" placeholder="dd/mm/aaaa">
                                <span class="input-group-btn">
                                    <input type="submit" class="btn btn-info btn-sm" name="ObtenerServicios" value="Obtener" />
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-xs-5 col-sm-5 col-md-4 text-center-xs text-right">
                    <div class="col-md-3 hidden-xs hidden-sm">
                        <div class="btn-group" uib-dropdown is-open="status.isopen">
                            <button id="single-button" type="button" class="btn btn-default btn-sm" uib-dropdown-toggle ng-disabled="disabled">
                                Estados <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                <li ng-repeat="estado in estados">
                                    <a>
                                        <div class="checkbox" ng-click="$event.stopPropagation()">
                                            <label>
                                                <input type="checkbox" ng-model="estado.Mostrar">
                                                {{estado.Descripcion}}
                                            </label>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <div class="form-group">
                            <input placeholder="Filtar todo..." class="form-control input-sm" type="search"
                                   ng-model="search.$" />
                        </div>
                    </div>
                    <div class="col-md-3 hidden-xs hidden-sm">
                        <div class="form-group">
                            <input ng-model="search.ConductorResumen" class="form-control input-sm" placeholder="Filtrar conductores" type="search" />
                        </div>
                    </div>
                    <div class="col-md-3 hidden-xs hidden-sm">
                        <div class="form-group">
                            <input ng-model="search.RutaResumen" class="form-control input-sm" placeholder="Filtar rutas" type="search" />
                        </div>
                    </div>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-5 text-center-xs text-right inline">
                    <span class="glyphicon glyphicon-cog hidden-md hidden-lg" ng-click="MostrarHerramientas()"></span>
                    <div class="hidden-xs hidden-sm">
                        <button ng-click="EnviarCorreoConductor()" ng-disabled="isSaving" class="btn btn-sm btn-info" tooltip-placement="bottom" uib-tooltip="Notifica los servicios seleccionados a los respectivos conductores"><i class="fa fa-envelope-o"></i> Conductor</button>
                        <button ng-click="EnviarCorreoConductor(true)" ng-disabled="isSaving" class="btn btn-sm btn-info" tooltip-placement="bottom" uib-tooltip="Imprimir"><i class="glyphicon glyphicon-print"></i> Conductor</button>
                        <button ng-click="EnviarCorreoRuta()" ng-disabled="isSaving" class="btn btn-sm btn-info" tooltip-placement="bottom" uib-tooltip="Notifica los servicios seleccionados a las respectivas rutas"><i class="fa fa-envelope-o"></i> Ruta</button>
                        <button ng-click="EnviarCorreoRuta(true)" ng-disabled="isSaving" class="btn btn-sm btn-info" tooltip-placement="bottom" uib-tooltip="Imprimir"><i class="glyphicon glyphicon-print"></i> Ruta</button>
                        <button ng-click="ExportarCSV()" ng-disabled="isSaving" class="btn btn-sm btn-info" tooltip-placement="bottom" uib-tooltip="Exporta los servicios del periodo seleccionado en formato CSV"><i class="fa fa-file-excel-o"></i> Excel</button>
                    </div>
                </div>
                <div class="col-xs-12 hidden-md hidden-lg text-center" ng-class=" {  'hidden-xs': verHerramientas, 'hidden-sm': verHerramientas }">
                    <div class="row">
                        <div class="col-xs-12">
                            <button ng-click="EnviarCorreoConductor()" ng-disabled="isSaving" class="btn btn-sm btn-info" uib-tooltip="Notifica los servicios seleccionados a los respectivos conductores"><i class="fa fa-envelope-o"></i> Conductor</button>
                            <button ng-click="EnviarCorreoConductor(true)" ng-disabled="isSaving" class="btn btn-sm btn-info" uib-tooltip="Imprimir"><i class="glyphicon glyphicon-print"></i> Conductor</button>
                            <button ng-click="EnviarCorreoRuta()" ng-disabled="isSaving" class="btn btn-sm btn-info" uib-tooltip="Notifica los servicios seleccionados a las respectivas rutas"><i class="fa fa-envelope-o"></i> Ruta</button>
                            <button ng-click="EnviarCorreoRuta(true)" ng-disabled="isSaving" class="btn btn-sm btn-info" uib-tooltip="Imprimir"><i class="glyphicon glyphicon-print"></i> Ruta</button>
                            <button ng-click="ExportarCSV()" ng-disabled="isSaving" class="btn btn-sm btn-info" uib-tooltip="Exporta los servicios del periodo seleccionado en formato CSV"><i class="fa fa-file-excel-o"></i> Excel</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="btn-group" uib-dropdown is-open="status.isopen">
                                <button id="single-button" type="button" class="btn btn-default btn-sm" uib-dropdown-toggle ng-disabled="disabled">
                                    Estados <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                    <li ng-repeat="estado in estados">
                                        <a>
                                            <div class="checkbox" ng-click="filtrarServicios();$event.stopPropagation()">
                                                <label>
                                                    <input type="checkbox" ng-model="estado.Mostrar">
                                                    {{estado.Descripcion}}
                                                </label>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="form-group">
                                <input ng-model="search.ConductorResumen" class="form-control input-sm" placeholder="Filtrar conductores" type="search" />
                            </div>
                            <div class="form-group">
                                <input ng-model="search.RutaResumen" class="form-control input-sm" placeholder="Filtar rutas" type="search" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="staticBody">
            <div class="table-responsive">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <td colspan="10">
                                <label><strong>Total servicios: </strong></label> {{ serviciosActivos.length }}
                                <span style="margin-left:30px" ng-repeat="(key,val) in estadoServiciosActivos"><label><strong>{{key}}: </strong></label> {{ val }}</span>
                            </td>
                        </tr>
                        <tr>
                            <th style="width:10px;padding-left:5px;padding-right:5px;background-color:#FDFDFD"></th>
                            <th class="text-center">Id</th>
                            <th>Hora/fecha</th>
                            <th class="col-md-1">Estado</th>
                            <th class="hidden-xs">Consec.</th>
                            <th>Origen</th>
                            <th>Destino</th>
                            <th>Conductor</th>
                            <th>Ruta</th>
                            <th>
                                <label class="checkbox i-checks ">
                                    <input type="checkbox" ng-model="seleccion" ng-change="Seleccionar(seleccion)" aria-checked="false" aria-invalid="false"><i></i>
                                </label>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="text-xs" ng-repeat="servicio in serviciosActivos  = (servicios | filter: search | filter: EstadosVisibles ) " ng-class=" { 'border-none' : active==servicio}">
                        <tr>
                            <td class="text-center" style="background-color:#edeaea" ng-click="VerSeguimientos(servicio);">
                                <span class="glyphicon glyphicon-chevron-right" ng-class="{'glyphicon-chevron-down': active==servicio } "></span>
                            </td>
                            <td class="text-center">
                                <span class="glyphicon glyphicon-pencil" ng-click="Editar(servicio)" uib-tooltip="Editar el servicio"></span>
                                <span ng-if="servicio.Notificado" class="glyphicon glyphicon-envelope" uib-tooltip="¡Servicio notificado!"></span>
                                <span ng-if="!servicio.Asegurado.Telefono1 || servicio.Vehiculo.Placa.length != 6" class="glyphicon glyphicon-info-sign text-danger" uib-tooltip="Datos faltantes: {{ !servicio.Asegurado.Telefono1 ? 'Teléfono del asegurado, ' : '' }} {{ servicio.Vehiculo.Placa.length != 6 ? 'Placa del vehiculo' : ''}}"></span>
                                <br />
                                <a class="btn btn-link text-center" ng-click="MostrarDetalles(servicio,  $event)" uib-tooltip="Mostrar detalles el servicio">
                                    <u> {{servicio.Id}}</u>
                                </a>
                            </td>
                            <td class="text-center">
                                {{servicio.Fecha | date:'HH:mm'}}
                                <br />
                                {{servicio.Fecha | date:'dd/MM/yyyy'}}

                            </td>
                            <td>
                                <strong class="estadoTexto">{{servicio.Estado.Descripcion}}</strong>
                                <div class="hidden-sm hidden-md hidden-lg">
                                    <br />
                                    <strong>{{(servicio.Aseguradora.Nombre ? "Red: " :"")}}</strong>  {{servicio.Aseguradora.Nombre}} <br />
                                    <strong> {{(servicio.Radicado ? "Consecutivo: " :"") }}</strong> {{ servicio.Radicado }}
                                </div>
                            </td>
                            <td class="hidden-xs">
                                {{servicio.Radicado}}
                                <br />
                                {{servicio.Aseguradora.Nombre}}

                            </td>
                            <td ng-class="{ 'verde': !servicio.DireccionInicio.Ciudad.Principal }">
                                -{{servicio.DireccionInicio.Descripcion}}, {{servicio.DireccionInicio.Ciudad.Nombre}}, {{servicio.DireccionInicio.Barrio}}

                            </td>
                            <td ng-class="{ 'verde': !servicio.DireccionDestino.Ciudad.Principal }">
                                -{{servicio.DireccionDestino.Descripcion}}, {{servicio.DireccionDestino.Ciudad.Nombre}}, {{servicio.DireccionDestino.Barrio}}
                            </td>
                            <td>
                                {{servicio.ConductorResumen}}
                            </td>
                            <td>
                                {{servicio.RutaResumen}}
                            </td>
                            <td>

                                <label class="checkbox i-checks m-l-xs m-b-xs">
                                    <input type="checkbox" ng-model="servicio.Seleccionado" aria-checked="false" aria-invalid="false"><i></i>
                                </label>
                            </td>
                        </tr>
                        <tr ng-if="active==servicio" ng-class=" { 'border-none' : active==servicio}">
                            <td colspan="10">
                                <div class="panel panel-default  border-none">
                                    <ul class="list-group list-group-xs">
                                        <li class="list-group-item border-none">
                                            <div class="row">
                                                <form name="formSeguimiento" class="form ng-pristine ng-valid" ng-submit="GuardarSeguimiento()">
                                                    <div class="col-xs-3 form-group">
                                                        <select ng-model="servicio.EstadoCodigo" name="estado" ng-options="estado.Codigo as estado.Descripcion for estado in estados" class="form-control"></select>
                                                    </div>
                                                    <div class="col-xs-7 form-group">
                                                        <input type="text" ng-model="seguimiento.Observacion" class="form-control" placeholder="Ingrese su observación" />
                                                    </div>
                                                    <div class="col-md-2 col-xs-12">
                                                        <button ng-disabled="isSaving" class="btn btn-info" type="submit">Guardar</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </li>
                                        <li ng-repeat="seguimiento in servicio.Seguimientos | orderBy:'-Fecha'"
                                            class="list-group-item border-none">
                                            <a ui-sref="app.page.profile" class="avatar thumb pull-left s-r">
                                                <img ng-src="app/content/img/no_user.jpg" src="app/content/img/no_user.jpg">
                                            </a>
                                            <div class="pull-right text-sm text-muted">
                                                <span class="hidden-xs">{{ seguimiento.Fecha | date:'HH:mm yyyy/MM/dd' }}</span>
                                            </div>
                                            <div class="clear">
                                                <div>
                                                    <strong class="text-xs">{{seguimiento.UsuarioRegistro.Nombre}}</strong>
                                                </div>
                                                <div class="text-xs text-ellipsis m-t-xs">{{seguimiento.Observacion}}</div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="detalleServicio.html">
    <div class="modal-body wrapper-lg ">
        <a class="close" data-dismiss="modal" ng-click="cancel()">×</a>
        <h3 class="m-t-none m-b font-thin">Detalle del servicio: {{servicio.Id}}</h3>
        <ul>
            <li><strong>Id: </strong> <span> {{servicio.Id}}</span></li>
            <li> <strong>Fecha y Hora: </strong><span> {{servicio.Fecha | date:'HH:mm'}} - {{servicio.Fecha | date:'dd/MM/yyyy'}}</span></li>
            <li>
                <strong>Aseguradora: </strong><span> {{servicio.Aseguradora.Nombre }}</span> &nbsp;&nbsp;&nbsp;
                <strong>Consecutivo: </strong><span> {{servicio.Radicado}}</span>&nbsp;&nbsp;&nbsp;
                <strong>Asignado por: </strong><span> {{servicio.AsignadoPor}}</span>
            </li>
            <br />
            <li><strong>Asegurado: </strong><span> {{servicio.Asegurado.Nombre}} <strong>Tel:</strong> {{servicio.Asegurado.Telefono1}} - {{servicio.Asegurado.Telefono2}}</span></li>
            <li><strong>Vehiculo: </strong><span> {{servicio.Vehiculo.Placa}} - {{servicio.Vehiculo.Descripcion}}</span></li>
            <br>
            <li><strong>Dirección inicio: </strong><span> {{servicio.DireccionInicio.Descripcion}}, {{servicio.DireccionInicio.Ciudad.Nombre}}, {{servicio.DireccionInicio.Barrio}}</span></li>
            <li><strong>Dirección destino: </strong><span> {{servicio.DireccionDestino.Descripcion}}, {{servicio.DireccionDestino.Ciudad.Nombre}}, {{servicio.DireccionDestino.Barrio}}</span></li>
            <br>
            <li>
                <strong>Conductor: </strong> {{servicio.ConductorResumen}}
            </li>
            <li>
                <strong>Ruta: </strong>{{servicio.RutaResumen}}
            </li>
        </ul>
        <input type="button" class="btn btn-danger pull-right" name="EditarServicio" value="Editar" ng-click="Editar(servicio)" />
    </div>
</script>