
<div ng-controller="FacturacionController">

    <style>
        .border-none {
            border: none !important;
            background-color: #fafafa;
        }

            .border-none td, .border-none th {
                border: none !important;
                background-color: #fafafa;
            }

        .table > thead > tr > th {
            padding: 1px 15px;
            margin: 0px;
            height: 10px;
        }

        .radio, .checkbox {
            margin-bottom: 5px;
            margin-top: 5px;
        }

        .table > tr > td {
            padding: 5px 5px;
        }

        .input-xs {
            width: 150px !important;
        }

        @media screen and (max-width: 767px) {
            .table > thead > tr > th {
                padding: 1px 5px;
                margin: 0;
                height: 10px;
            }

            .col-xs-3, .col-xs-4, .col-xs-8, .col-xs-1 {
                padding-left: 5px;
                padding-right: 0;
            }
        }
    </style>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-6 col-sm-12 text-center-xs">
                    <div class="form-inline">
                        <form name="formConsulta" class="form-inline" novalidate ng-submit="formConsulta.$valid && ObtenerMovimientos()">
                            <div class="form-group">
                                <label for="TxtFechaInicial">Desde</label>
                                <input tabindex="5" ng-model="fechaInicial" required type="text" class="form-control input-sm" name="TxtFechaInicial" placeholder="dd/MM/yyyy">
                            </div>
                            <div class="form-group">
                                <label for="TxtFechaFinal">Hasta</label>
                                <input tabindex="10" ng-model="fechaFinal" required type="text" class="form-control input-sm" name="TxtFechaFinal" placeholder="dd/MM/yyyy">
                            </div>
                            <div class="form-group">
                                <label for="SelCliente">Cliente</label>
                                <select tabindex="20"
                                        ng-model="cliente"
                                        class="form-control"
                                        id="SelCliente"
                                        name="SelAseguradora"
                                        required
                                        ng-options="aseguradora.Nombre for aseguradora in aseguradoras track by aseguradora.Id">
                                    <option value="">--Seleccione--</option>
                                </select>
                            </div>
                            <button tabindex="30" type="submit" class="btn btn-info btn-sm">Consultar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <label><strong>Número total: </strong></label> {{ movimientos.length }} <strong style="margin-left:10px"> Valor total: </strong><span> {{valorFactura | currency:"$":0}}</span>
                </div>
                <div class="col-sm-6 text-right form-inline">
                    <div class="form-group">
                        <input placeholder="Filtrar..." class="form-control" type="search"
                               ng-model="search.$" />
                    </div>
                    <div class="form-group">
                        <input placeholder="Sucursal" class="form-control" type="search"
                               ng-model="search.Servicio.Sucursal.Descripcion" />
                    </div>
                    <div class="form-group">
                        <button ng-click="MostrarFacturacionMasiva()" class="btn btn-info">Facturación masiva</button>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th class="col-md-1">Hora/fecha</th>
                            <th class="col-md-1">Cliente</th>
                            <th>Sucursal</th>
                            <th>Consecutivo</th>
                            <th class="col-md-1">Vehiculo</th>
                            <th class="col-md-1">Asegurado</th>
                            <th>Origen/Destino</th>
                            <th>Valor</th>
                            <th  class="col-md-2">No. factura</th>
                            <th></th>
                            <th>
                                <label class="checkbox i-checks ">
                                    <input type="checkbox" ng-model="seleccion" ng-change="Seleccionar(seleccion)" aria-checked="false" aria-invalid="false"><i></i>
                                </label>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="text-xs" ng-repeat="movimiento in movCompletos | filter: search as movimientos ">
                        <tr>
                            <td>
                                {{movimiento.Servicio.Id}}
                            </td>
                            <td class="text-center">
                                {{movimiento.Servicio.Fecha | date:'HH:mm'
                                }}
                                <br />
                                {{movimiento.Servicio.Fecha | date:'dd/MM/yyyy'}}
                            </td>
                            <td>
                                {{movimiento.Servicio.Aseguradora.Nombre }}<br />
                                <strong>Asig.Por:</strong> {{movimiento.Servicio.AsignadoPor }}
                            </td>
                            <td>
                                {{movimiento.Servicio.Sucursal.Descripcion }}
                            </td>
                            <td>
                                {{movimiento.Servicio.Radicado}}
                            </td>
                            <td>
                                {{movimiento.Servicio.Vehiculo.Placa }} <br /> {{movimiento.Servicio.Vehiculo.Descripcion }}
                            </td>
                            <td>
                                {{movimiento.Servicio.Asegurado.Nombre }} <br /> {{movimiento.Servicio.Asegurado.Telefono1 }}
                            </td>
                            <td>
                                <div  ng-class="{ 'verde': !movimiento.Servicio.DireccionInicio.Ciudad.Principal }">

                                    <strong>Origen: </strong> {{movimiento.Servicio.DireccionInicio.Descripcion}}, {{movimiento.Servicio.DireccionInicio.Ciudad.Nombre}}, {{movimiento.Servicio.DireccionInicio.Barrio}}
                                </div>
                                <div  ng-class="{ 'verde': !movimiento.Servicio.DireccionDestino.Ciudad.Principal }">
                                    <strong>Destino: </strong> {{movimiento.Servicio.DireccionDestino.Descripcion}}, {{movimiento.Servicio.DireccionDestino.Ciudad.Nombre}}, {{servicio.DireccionDestino.Barrio}}
                                </div>
                            </td>
                            <td>
                                {{movimiento.Valor | currency:"$":0 }} <br />
                                <strong>Iva:</strong> {{movimiento.Valor*0.19 | currency:"$":0 }}
                            </td>
                            <td>
                                <input type="text" class="form-control" ng-model="movimiento.NumeroDocumento" />
                            </td>
                            <td>
                                <button ng-click="Facturar(movimiento)" class="btn btn-info btn-sm">Facturar</button>
                            </td>
                            <td>
                                <label class="checkbox i-checks m-l-xs m-b-xs">
                                    <input type="checkbox" ng-model="movimiento.Seleccionado" aria-checked="false" aria-invalid="false"><i></i>
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="MostrarFacturacionMasiva.html">
    <div class="modal-body wrapper-lg ">
        <a class="close" data-dismiss="modal" ng-click="cancel()">×</a>
        <h3 class="m-t-none m-b font-thin">Facturación masiva</h3>
        <span>Número total servicios: </span> <strong> {{ movimientos.length }}</strong>
        <br />
        <span>Valor factura: </span> <strong> {{valorFactura | currency:"$":0}}</strong>
        <br />
        <div class="form-group">
            <label>Número de factura:</label>
            <input type="text" name="name" value="" ng-model="numeroFactura" />
        </div>
        <input type="button" class="btn btn-danger pull-right" name="EditarServicio" value="Facturar" ng-click="FacturarMasivo()" />
    </div>
</script>
