<div ng-controller="GeneracionCuentasPorPagarController">
    <style>
        .form-inline .ui-select-container .ui-select-toggle,
        .form-inline .ui-select-container .ui-select-search {
            width: 100%;
        }

        .form-inline .ui-select-container {
            display: inline-block;
            vertical-align: middle;
            width: auto;
        }

        .ciudadDiferente {
            background-color: lightgreen;
        }

        .border-none {
            border: none !important;
            background-color: #fafafa;
        }

            .border-none td, .border-none th {
                border: none !important;
                background-color: #fafafa;
            }

        .table > thead > tr > th {
            padding: 1px 15px;
            margin: 0px;
            height: 10px;
        }

        .radio, .checkbox {
            margin-bottom: 5px;
            margin-top: 5px;
        }

        .table > tr > td {
            padding: 5px 5px;
        }

        .input-xs {
            width: 150px !important;
        }

        @media screen and (max-width: 767px) {
            .table > thead > tr > th {
                padding: 1px 5px;
                margin: 0;
                height: 10px;
            }

            .col-xs-3, .col-xs-4, .col-xs-8, .col-xs-1 {
                padding-left: 5px;
                padding-right: 0;
            }
        }
    </style>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-12 text-center-xs">
                    <div class="form-inline">
                        <form name="formConsulta" class="form-inline" ng-submit="formConsulta.$valid && ObtenerServicios()">
                            <div class="form-group">
                                <label for="TxtFechaInicial">Fecha inicial</label>
                                <input tabindex="5" ng-model="fechaInicial" required ui-mask="99/99/9999" model-view-value="true" type="text" class="form-control input-sm" name="TxtFechaInicial" placeholder="dd/MM/yyyy">
                            </div>
                            <div class="form-group">
                                <label for="TxtFechaFinal">Fecha final</label>
                                <input tabindex="10" ng-model="fechaFinal" required ui-mask="99/99/9999" model-view-value="true" type="text" class="form-control input-sm" name="TxtFechaFinal" placeholder="dd/MM/yyyy">
                            </div>
                            <div class="form-group">
                                <label for="TxtFechaFinal">Proveedor</label>
                                <ui-select tabindex="25" required ng-model="servicio.proveedor" theme="bootstrap" reset-search-input="false">
                                    <ui-select-match placeholder="Consultar">{{$select.selected.Nombre}}</ui-select-match>
                                    <ui-select-choices repeat="item in conductores" refresh="ObtenerProveedores($select.search)" refresh-delay="0">
                                        <div ng-bind-html="item.Nombre | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <button type="submit"  tabindex="30" class="btn btn-info btn-sm" ng-disabled="formConsulta.$invalid">Consultar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <strong>Valor total a pagar: </strong><span> {{valorTotalAPagar | currency:"$":0}}</span>
                </div>
                <div class="col-sm-6 text-right">
                    <button ng-click="GenerarCuentaPorPagar()" class="btn btn-info btn-sm">Generar cuenta CP</button>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>Proveedor</th>
                            <th>Concepto</th>
                            <th class="col-md-1">Valor a pagar</th>
                            <th>Id</th>
                            <th class="col-md-1">Hora/fecha</th>
                            <th>Cliente</th>
                            <th>Origen/Destino</th>
                            <th>
                                <label class="checkbox i-checks ">
                                    <input type="checkbox" ng-model="seleccion" ng-change="Seleccionar(seleccion)" aria-checked="false" aria-invalid="false"><i></i>
                                </label>
                            </th>
                        </tr>
                        <tr>
                            <td colspan="8">
                                <input placeholder="Filtar todo..." class="form-control input-sm" type="search" ng-model="search.$" />
                            </td>
                        </tr>
                    </thead>
                    <tbody class="text-xs" ng-repeat="servicio in serviciosActivos  = (servicios | filter: search) " ng-class=" { 'border-none' : active==servicio}">
                        <tr>
                            <td>
                                {{servicio.Proveedor.Nombre}}
                            </td>
                            <td>
                                {{servicio.Concepto}}
                            </td>
                            <td>
                                {{servicio.Valor | currency:"$":0}}
                            </td>
                            <td>
                                {{servicio.Id}}
                            </td>
                            <td class="text-center">
                                {{servicio.Fecha | date:'HH:mm'}}
                                <br />
                                {{servicio.Fecha | date:'dd/MM/yyyy'}}
                            </td>
                            <td class="hidden-xs">
                                {{servicio.Radicado}}
                                <br />
                                {{servicio.Aseguradora.Nombre}}
                            </td>
                            <td>
                                <div>
                                    <strong>Origen: </strong> {{servicio.DireccionInicio.Descripcion}}, {{servicio.DireccionInicio.Ciudad.Nombre}}, {{servicio.DireccionInicio.Barrio}}
                                </div>
                                <div>
                                    <strong>Destino: </strong> {{servicio.DireccionDestino.Descripcion}}, {{servicio.DireccionDestino.Ciudad.Nombre}}, {{servicio.DireccionDestino.Barrio}}
                                </div>
                            </td>
                            <td>
                                <label class="checkbox i-checks m-l-xs m-b-xs">
                                    <input type="checkbox" ng-model="servicio.Seleccionado" aria-checked="false" aria-invalid="false"><i></i>
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
