<div ng-controller="GeneracionCuentasPorPagarController">
    <style>
        .form-inline .ui-select-container .ui-select-toggle,
        .form-inline .ui-select-container .ui-select-search {
            width: 100%;
        }

        .form-inline .ui-select-container {
            display: inline-block;
            vertical-align: middle;
            width: auto;
        }

    </style>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-6 col-sm-8 text-center-xs">
                    <div class="form-inline">
                        <form name="formConsulta" class="form-inline" novalidate ng-submit="formConsulta.$valid && ObtenerMovimientos()">
                            <div class="form-group">
                                <label for="TxtFechaInicial">Fecha inicial</label>
                                <input tabindex="5" ng-model="fechaInicial" required type="text" class="form-control input-sm" name="TxtFechaInicial" placeholder="dd/MM/yyyy">
                            </div>
                            <div class="form-group">
                                <label for="TxtFechaFinal">Fecha final</label>
                                <input tabindex="10" ng-model="fechaFinal" required type="text" class="form-control input-sm" name="TxtFechaFinal" placeholder="dd/MM/yyyy">
                            </div>
                            <div class="form-group">
                                <label for="TxtFechaFinal">Proveedor</label>
                                <ui-select tabindex="25" required ng-model="servicio.proveedor" theme="bootstrap" reset-search-input="false">
                                    <ui-select-match placeholder="Consultar">{{$select.selected.Nombre}}</ui-select-match>
                                    <ui-select-choices repeat="item in conductores" refresh="ObtenerProveedores($select.search)" refresh-delay="0">
                                        <div ng-bind-html="item.Nombre | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <button tabindex="30" type="submit" class="btn btn-info btn-sm">Consultar</button>
                        </form>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 text-center-xs text-right">
                    <div class="form-group">
                        <input placeholder="Filtrar..." class="form-control input-sm" type="search"
                               ng-model="search.$" />
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <strong>Valor total: </strong><span> {{valorTotalAPagar | currency:"$":0}}</span>
                </div>
                <div class="col-sm-6 text-right">
                    <button ng-click="GenerarCuentaPorPagar()" class="btn btn-info btn-sm">Generar CXP</button>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>Proveedor</th>
                            <th>Concepto</th>
                            <th class="col-md-1">Valor a pagar</th>
                            <th>Id</th>
                            <th class="col-md-1">Hora/fecha</th>
                            <th>Cliente</th>
                            <th>Origen/Destino</th>
                            <th>
                                <label class="checkbox i-checks ">
                                    <input type="checkbox" ng-model="seleccion" ng-change="Seleccionar(seleccion)" aria-checked="false" aria-invalid="false"><i></i>
                                </label>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="text-xs" ng-repeat="movimiento in movimientos | filter: search">
                        <tr>
                            <td>
                                {{movimiento.Proveedor.Nombre}}
                            </td>
                            <td>
                                {{movimiento.Concepto.Descripcion}}
                            </td>
                            <td>
                                {{movimiento.Valor | currency:"$":0}}
                            </td>
                            <td>
                                {{movimiento.Servicio.Id}}
                            </td>
                            <td class="text-center">
                                {{movimiento.Servicio.Fecha | date:'HH:mm'}}
                                <br />
                                {{movimiento.Servicio.Fecha | date:'dd/MM/yyyy'}}
                            </td>
                            <td class="hidden-xs">
                                {{movimiento.Servicio.Radicado}}
                                <br />
                                {{movimiento.Servicio.Aseguradora.Nombre}}
                            </td>
                            <td>
                                <div ng-class="{ 'verde': !movimiento.Servicio.DireccionInicio.Ciudad.Principal }">
                                    <strong>Origen: </strong> {{movimiento.Servicio.DireccionInicio.Descripcion}}, {{movimiento.Servicio.DireccionInicio.Ciudad.Nombre}}, {{movimiento.Servicio.DireccionInicio.Barrio}}
                                </div>
                                <div ng-class="{ 'verde': !movimiento.Servicio.DireccionDestino.Ciudad.Principal }">
                                    <strong>Destino: </strong> {{movimiento.Servicio.DireccionDestino.Descripcion}}, {{movimiento.Servicio.DireccionDestino.Ciudad.Nombre}}, {{servicio.DireccionDestino.Barrio}}
                                </div>
                            </td>
                            <td>
                                <label class="checkbox i-checks m-l-xs m-b-xs">
                                    <input type="checkbox" ng-model="movimiento.Seleccionado" aria-checked="false" aria-invalid="false"><i></i>
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
