<div class="container w-xxl w-auto-xs" ng-controller="PasswordChangeController as vm" ng-init="app.settings.container = false;">
    <a href class="navbar-brand block m-t">{{app.name}}</a>
    <div class="m-b-lg">
        <div class="wrapper text-center">
            <strong>Cambio de contraseña</strong>
        </div>
        <form name="formPasswordChange" autocomplete="off" class="form-validation" 
              ng-submit="formPasswordChange.$valid && vm.cambiar()">
            <div class="text-danger wrapper text-center" ng-show="vm.message">{{vm.message}}</div>
            <div class="list-group list-group-sm">
                <div class="list-group-item">
                    <input type="text" autocomplete="off" name="claveActual" placeholder="Actual" class="form-control no-border" 
                           ng-model="vm.passwordData.OldPassword" required>
                </div>
                <div class="list-group-item">
                    <input type="password" name="claveNueva" placeholder="Nueva" class="form-control no-border" 
                           ng-model="vm.passwordData.NewPassword" required>
                </div>
                <div class="list-group-item">
                    <input type="password" name="claveConfirmacion" placeholder="Confirmación" class="form-control no-border"
                            ng-model="vm.passwordData.ConfirmPassword" required>
                </div>
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block" ng-disabled='!formPasswordChange.$valid'>Cambiar</button>
            <!--<div class="text-center m-t m-b"><a ui-sref="access.forgotpwd">¿Olvido su contraseña?</a></div>-->
        </form>
    </div>
</div>