      <!-- navbar header -->
<div class="navbar-header {{app.settings.navbarHeaderColor}}">
    <button class="pull-right visible-xs dk" ui-toggle-class="show" data-target=".navbar-collapse">
        <i class="glyphicon glyphicon-cog"></i>
    </button>
    <button class="pull-right visible-xs" ui-toggle-class="off-screen" data-target=".app-aside" ui-scroll-to="app">
        <i class="glyphicon glyphicon-align-justify"></i>
    </button>
    <!-- brand -->
    <a href="#/" class="navbar-brand text-lt">
        <!--<i class="fa fa-btc"></i>-->
        <img src="app/content/img/logo.png" alt=".">
        <span class="hidden-folded m-l-xs">{{app.name}}</span>
    </a>
    <!-- / brand -->
</div>
<!-- / navbar header -->
<!-- navbar collapse -->
<div class="collapse pos-rlt navbar-collapse box-shadow {{app.settings.navbarCollapseColor}}">

    <div class="nav navbar-nav hidden-xs">
        <a href class="btn no-shadow navbar-btn" ng-click="app.settings.asideFolded = !app.settings.asideFolded">
            <i class="fa {{app.settings.asideFolded ? 'fa-indent' : 'fa-dedent'}} fa-fw" title="Ocultar/mostrar menu"></i>
        </a>
    </div>

    <div class="nav navbar-nav" style="margin:12px">
        <h1 class="m-n font-thin h3" title="Vista actual">{{ app.viewName }}</h1>
    </div>

    <!-- nabar right -->
    <ul class="nav navbar-nav navbar-right">
        <li class="nav navbar-nav">
            <!--<a class="m-n font-thin h3" ng-click="seleccionarSucursal()" title="Sucursal"> {{ sucursal.Descripcion }} </a>-->
            <select uib-tooltip="Sucursal" tooltip-placement="bottom" class="navbar-btn form-control " id="SelSucursal"
                    name="SelSucursal" required ng-model="sucursal" ng-change="seleccionarSucursal(sucursal)"
                    ng-options="sucursal as sucursal.Descripcion for sucursal in sucursales track by sucursal.Id "></select>
        </li>
        <li class="hidden-xs">
            <a ui-fullscreen></a>
        </li>
        <li class="dropdown" uib-dropdown on-toggle="toggled(open)">
            <a href id="simple-dropdown" uib-dropdown-toggle>
                <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
                    <img src="app/content/img/no_user.jpg" alt="...">
                    <i class="on md b-white bottom"></i>
                </span>
                <span>{{authentication.userName}}</span> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                <li>
                    <a ui-sref="access.passwordChange">Cambiar contraseña</a>
                </li>
                <li>
                    <a ui-sref="access.login" ng-click="logOut()">Salir</a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- / navbar right -->
</div>
<!-- / navbar collapse -->
